body {
	background: #fff;
	color: #fff;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1em;
	height: 100%;
}

#simulator {
	margin-left: auto;
    margin-right: auto;
	width: 900px;
	height: 600px;
	background: #000;
	padding:20px 20px 40px 20px;
	border-radius: 25px;
}

#browser {
	width: 100%;
	height: 100%;
	background: #4272C9;
}

#tabs {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}

.tab {
	display: inline-block;
	background-color: #A4A4A4;
	min-width: 150px;
    max-width: 375px;
	padding: 5px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab:link, .tab:visited , .tab:active, .tab:hover  {
	color: #000;
	text-decoration: none;
}

.tab.current {
    background-color: #CCCCCC;
}

#window-controls {
	display: inline;
	text-align: right;
	float:right;
	color: #000;
	padding-right: 5px;
}

#window-close {
    background-color: #cc0000;
    display: inline-block;
    width: 60px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-left-style: none;
    border-color: #000;
    border-width: 1px;
}

#window-zoom {
    background-color: #cccccc;
    display: inline-block;
    width: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-left-style: none;
    border-color: #000;
    border-width: 1px;
}

#window-minimize {
    background-color: #cccccc;
    display: inline-block;
    width: 30px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    margin: 0px;
    text-align: center;
    padding: 0px;
}

#browser-buttons {
	display: inline-block;
	color: #000;
    padding-top: 5px;
	padding-bottom: 10px;
    background-color: #CCCCCC;
    width: 100%;
}

#browser-bttn {
	display: inline-block;
    margin-left: 5px;
	background-color: #BDBDBD;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
}

#url-bar {
	display: inline-block;
	background-color: #dedede;
	margin-top: 5px;
    margin-left: 5px;
	padding: 5px;
	color: #000;
    width: 655px;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
}

#https-verified {
	color: #00cc00;
}

#https-fail {
	color: #cc0000;
}

#content {
	background-color: #fff;
	color: #000;
	height: 470px;
}

iframe {
    border: none;
}

#hover-link {
	padding: 5px;
	background-color: #BDBDBD;
	color: #000;
}

#logo {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
}